/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}

element-icon {
    background-color: inherit;
}
