[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/NvChad/NvChad
