# Ignore all files by default
*
.*

# ------------------ GIT ------------------ #
# This .gitignore
!.gitignore

# ------------------ BASH ------------------ #
# !.bashrc
# !.bash_profile

# ------------------ ZSH ------------------ #
!.zshrc
!.zprofile
!.zsh_aliases

# ------------------ X11 ------------------ #
!.xinitrc

# ------------------ XMONAD/XMOBAR ------------------ #
# Allow directory
!.xmonad/

# But do NOT include built binaries
.xmonad/xmonad
.xmonad/xmobar
.xmonad/xmonad-x86_64-linux

# ------------- NVIM -------------- #
!.config
.config/*
!.config/nvim
!.config/nvim/*
!.config/nvim/*/*
!.config/nvim/*/*/*
!.config/nvim/*/*/*/*
!.config/nvim/*/*/*/*/*
!.config/nvim/*/*/*/*/*/*
.config/nvim/plugged
