.btn {
  font-family: "JetbrainsMono Nerd Font Mono";
  font-size: 2rem;
  padding: 0 1.4rem;
  box-shadow: none;
  background-color: $grey;
  border-radius: 50%;
}

.close {
  color: $red;
}

.playPause {
  background-color: $blue;
  color: $black;
}

.next,
.previous {
  color: $white;
}

.playPause:hover {
  background-color: $white;
}

.next:hover,
.previous:hover {
  background-color: $white;
  color: $black;
}

.next,
.previous,
.playPause,
.close {
  transition: ease-out 0.2s;
}

.btnMargin {
  background-color: $grey;
  border-radius: 50%;
  margin: 0.5rem;
}

.footerBtns {
  background-color: $blackAlt;
  padding: 0.5rem;
  border-radius: 1.3rem;
}
