@import "colors.css";

#pulseaudio-slider {
  margin: 4px 5px;
  padding: 0 2px;
  background-color: transparent;
  border-radius: 20px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @outline_variant;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: @secondary_fixed_dim;
}

#pulseaudio-slider slider {
  min-height: 12px;
  min-width: 12px;
  margin: -2px 0;
  border-radius: 100%;
  background-color: @primary;
}
