@import "colors.css";

/*======= MODULE INDEPENDENT =======*/
#distro-group {
  margin: 4px 5px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @primary;
}

#custom-distro {
  color: @primary;
  padding: 6px 15px 6px 10px;
}

#custom-disk {
  padding: 0 12px 0 10px; /* Only adds 4px to the left and right, 0 to top/bottom */
  margin: 0;
}

#custom-terminal {
  color: #a6e3a1;
  padding: 0px 10px;
}

#custom-code {
  color: #89b4fa;
  padding: 0px 10px;
}

#custom-office {
  color: #ff6f4c;
  padding: 0px 10px;
}

#custom-obsidian {
  color: #cba6f7;
  padding: 0px 10px;
}

#custom-files {
  color: #f9e2af;
  padding: 0px 10px 0px 8px;
}

#custom-spotify {
  color: #1db954;
  padding: 0px 10px;
}

#custom-browser {
  color: #fab387;
  padding: 0px 15px 0px 10px;
}

#power-profiles-daemon,
#idle_inhibitor {
  margin: 4px 5px;
  padding: 6px 15px 6px 10px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

/*======= MODULE CAPSUL =======*/
#audio,
#connections,
#system,
#storage {
  margin: 4px 5px;
  padding: 6px 6px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#disk,
#memory,
#cpu,
#temperature,
#bluetooth {
  margin-right: 2px;
  padding: 0 8px;
}

#network {
  padding: 0px 10px 0px 4px;
}

#pulseaudio {
  margin-right: 12px;
  margin-left: 8px;
}

/*======= TRAY =======*/
#tray-group {
  margin: 4px 5px;
  background-color: @surface_container;
  border-radius: 20px;
}

#custom-tray-arrow {
  padding: 6px 14px 6px 10px;
  color: @primary;
}

#tray {
  padding: 6px 10px;
}

#tray>.passive,
#tray>.active,
#tray>.needs-attention {
  -gtk-icon-effect: none;
}
